
@{
  Layout = "_Layout";
}
<p> Welcome to Pierre's Bakery! Please use the navigation bar above to create an account</p>
<hr/>
<h2>@Html.ActionLink("See all Flavors", "Index", "Flavors")</h2>
<h2>@Html.ActionLink("See all Treats", "Index", "Treats")</h2> 