
@{
  Layout = "_Layout";
}

<h1>Welcome to the Pierre's Sweet & Savory Treats!</h1>
<p>@Html.ActionLink("See all Flavors", "Index", "Flavors")</p>
<p>@Html.ActionLink("See all Treats", "Index", "Treats")</p>