<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Chez Pierre's</title>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
    <link rel="stylesheet" href="~/css/styles.css" type="text/css">
    <script src="https://kit.fontawesome.com/a26d2ada82.js" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css?family=Quicksand&display=swap" rel="stylesheet">
  </head>
  <body>
    <div class="navbar">
        <a class="active" href="/"><i class="fa fa-fw fa-home icons"></i> Home</a>
        <a href="/Flavors/Index"><i class="fas fa-grin-tongue"></i> Flavors</a>
        <a href="/Treats/Index"><i class="fas fa-birthday-cake"></i> Treats</a>
        <a href="/Account/Index"><i class="fas fa-user-circle"></i> Accounts</a>
        <a href="/Home/Search"><i class="fa fa-fw fa-search icons"></i> Search</a>
    </div>
    <div class="container">
        <h1>Pierre's Sweet & Savory Treats</h1>
        @RenderBody()
    </div>
  </body>
</html>

